<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>登録完了</title>
</head>
<body>

<p>ご登録ありがとうございました。</p>

<form>
<input type="button" value="トップへ戻る" onclick=window.open("!top!","_top")>
</form>

</body>
</html>
