body{
    background-color: rgb(255, 123, 0);
    font-family: "Comic Sans MS";
}

.poke_data{
    float: left;
    flex-wrap: wrap;
    text-align: left;
    border: 2px solid black;
    border-radius: 5%;
    background-color: #eee6df;
    width: 210px;
    height: 300px;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
}

.poke_img{
    text-align: center;
    border: 1.5px solid black;
    border-left: 15px solid #eee6df;
    border-right: 15px solid #eee6df;
    background-color: #647503;
}

.poke_ex{
    padding-left: 13px;
}

.button .btnA{
    position: absolute;
    top: 130px;
    left: 168px;
    background-color: #960037;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.button .btnB{
    position: absolute;
    top: 145px;
    left: 130px;
    background-color: #960037;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}
