html{
    padding-bottom: 20px;
}

body{
    background-color: orange;
    font-family: "Comic Sans MS";
    padding-bottom: 20px;
}

header h1{
    border-left: 8px solid black;
    padding-left: 20px;
    border-bottom: 2px  solid black;
    padding-bottom: 5px;
}

.poke_data{
    float: left;
    flex-wrap: wrap;
    text-align: left;
    border: 2px solid black;
    border-radius: 5%;
    background-color: #eee6df;
    width: 215px;
    height: 300px;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
}

.poke_img{
    text-align: center;
    border: 1.5px solid black;
    border-left: 15px solid #eee6df;
    border-right: 15px solid #eee6df;
    background-color: #647503;
}

.poke_ex{
    padding-left: 13px;
}

.paging{
    display: flex;
    flex-wrap: wrap;
}

.paging input{
    margin-top: 10px;
    margin-left: 10px;
}

.paging input:hover{
    cursor: pointer;
}

.button .btnA,
.button .btnB{
    position: absolute;
    background-color: #960037;
    border:  3px solid #5c534d46;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.button .btnA{
    top: 130px;
    left: 168px;
}

.button .btnB{
    top: 145px;
    left: 130px;
}

.line .lineA,
.line .lineB,
.line .lineC{
    position: absolute;
    border: 2px solid #5c534d;
    background-color: #72675f;
    border-radius: 30%;
    width: 25px;
    height: 2px;
    transform: rotate(60deg);
}

.ab .A,
.ab .B{
    position: absolute;
    color: #3b2b84;
    font-size: 13px;
    transform: rotate(335deg);
    font-family: "Impact";
}

.ab .A{
    top: 167px;
    left: 190px;
}

.ab .B{
    top: 182px;
    left: 150px;
}

.line .lineA{
    top: 260px;
    left: 168px;
}

.line .lineB{
    top: 255px;
    left: 178px;
}

.line .lineC{
    top: 250px;
    left: 188px;
}
