<tr>
   <td class="form-left">!user_id!</td>
   <td class="form-left">!name!</td>
   <td class="form-left">!tel!</td>
   <td class="form-left">!email!</td>
   <td class="form-left">!course!</td>
<tr>
