<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>ユーザー情報</title>
</head>
<body>

<h1>ユーザー情報</h1>
<form method="POST" action="db_search.php">
        <table border=1>
        <!--PDST-->
  <tr>
    <td>id</td>
    <td><input name="user_id" type="text" value=""></td>
  </tr>
<tr>
    <td>名前</td>
    <td><input name="name" type="text" value=""></td>
  </tr>
<tr>
    <td>電話番号</td>
    <td><input name="tel" type="text" value=""></td>
  </tr>
<tr>
    <td>メールアドレス</td>
    <td><input name="email" type="text" value=""></td>
  </tr>
<tr>
    <td>コース</td>
    <td>
      <select name="course[]">
         <option value="">-</optin>
         <option value="Beginner">Beginner</optin>
         <option value="Normal">Normal</optin>
         <option value="Professional">Professional</optin>
      </select>
    </td>
  </tr>

  <tr>
    <td colspan="2"><input type="submit" value="検索" name="submit"></td>
  </tr>
  <input type="hidden" name="mode" value="search" >
        </table>
        </form>


<h2>検索結果</h2>

<table border=1>
        <!--PDST-->
<tr><th>id</th><th>名前</th><th>電話番号</th><th>メールアドレス</th><th>コース名</th>



!user_data! 

</table>
</body>
</html>
