body {
  background-color: black;
}

.login_form_top {
  color: #f0f8ff;
}

main {
  padding: 20px 0px;
  width: 400px;
  /* padding: 10px 10px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  text-align: center;
}

main {
  border: 5px solid gray;
}

main h1 {
  color: #f0f8ff;
  font-weight: 500;
}

/* UserID,Password */
main input[type="id"],
main input[type="password"] {
  border: 0;
  display: block;
  margin: 20px auto;
  background-color: #f0f8ff;
  border: 2px solid gray;
  padding: 10px 10px;
  width: 200px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
  text-align: center;
}

main input[type="id"]:focus,
main input[type="password"]:focus {
  width: 280px;
  border-color: #69eeff;
}

main input[type="submit"] {
  border: 0;
  display: block;
  margin: 20px auto;
  background-color: black;
  border: 2px solid #f0f8ff;
  padding: 15px 10px;
  width: 200px;
  outline: none;
  color: #f0f8ff;
  border-radius: 25px;
  transition: 0.25s;
  text-align: center;
  cursor: pointer;
}

main input[type="submit"]:hover {
  background-color: #69eeff;
  border: 2px solid #f0f8ff;
}

/* エラー文 */
.login_form_btm p {
  color: rgb(255, 60, 60);
}
